<!-- -*- mode: XML -*- -->
<launch>

  <!-- GDB Debug Arguments -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Valgrind Arguments -->
  <arg name="valgrind" default="false" />
  <arg unless="$(arg valgrind)" name="launch_prefix2" value="" />
  <arg     if="$(arg valgrind)" name="launch_prefix2" value="valgrind --tool=callgrind --collect-atstart=no" />

  <!-- Launch main node -->
  <node name="bolt_2d" launch-prefix="$(arg launch_prefix) $(arg launch_prefix2)" pkg="bolt_2d" type="bolt_2d" respawn="false" output="screen">

    <!-- Robot-specific settings -->
    <rosparam file="$(find bolt_2d)/config/config_bolt_2d.yaml" command="load"/>
  </node>

</launch>
